/**
 * @file    default.scss
 * @author  Ariel Saldana / http://ariel.io
 */

$font-stack-primary: 'Open Sans', Helvetica, sans-serif;

$background-color: null;

$highlight-text-color : null;
$highlight-background-color : null;

$font-size-base: 1rem;

$h1-font-size : null;
$h1-font-weight : null;
$h1-small-font-size : null;
$h1-large-font-size : null;
$h1-margins : null;
$h1-text-align : null;

$h2-font-size : null;
$h2-font-weight : null;
$h2-small-font-size : null;
$h2-large-font-size : null;
$h2-margins : null;
$h2-text-align : null;

$h3-font-size : null;
$h3-font-weight : null;
$h3-small-font-size : null;
$h3-large-font-size : null;
$h3-margins : null;
$h3-text-align : null;

$h4-font-size : null;
$h4-font-weight : null;
$h4-small-font-size : null;
$h4-large-font-size : null;
$h4-margins : null;
$h4-text-align : null;

$h5-font-size : null;
$h5-font-weight : null;
$h5-small-font-size : null;
$h5-large-font-size : null;
$h5-margins : null;
$h5-text-align : null;

$h1-font-color : null;
$h2-font-color : null;
$h3-font-color : null;
$h4-font-color : null;
$h5-font-color : null;

$text-font-size: null;
$text-font-weight: null;
$text-color : null;
$text-small-font-size : null;
$text-large-font-size : null;
$text-margins : null;
$text-text-align : null;