/**
 * @file    responsive.scss
 * @author  Ariel Saldana / http://ariel.io
 */

$columns : 12;
$space : 100%;
$gutter : 15px;

$min-x-small : "only screen and (min-width: 20em)"; // 320 px
$min-small       : "only screen and (min-width: 34em)"; // 544 px
$min-medium      : "only screen and (min-width: 48em)"; // 768 px
$min-large       : "only screen and (min-width: 62em)"; // 992 px
$min-x-large : "only screen and (min-width: 75em)"; // 1200px

$max-x-small:  "(max-width: 33.999999em)";
$max-small:  "(max-width: 47.999999em)"; 
$max-medium:  "(max-width: 61.999999em)"; 
$max-large:  "(max-width: 74.999999em)"; 

$x-small :  "only screen and (min-width: 20em ) and (max-width: 33.999999em)";
$small :  "only screen and (min-width: 34em) and (max-width: 47.999999em)";
$medium :  "only screen and (min-width: 48em) and (max-width: 61.999999em)";
$large :  "only screen and (min-width: 62em) and (max-width: 74.999999em)";
$x-large :  "";

.row {
    @include clearfix();
}

[class*="col-"] {
    float:left;
    width: 100%;
    box-sizing: border-box;
    padding-left:$gutter;
    padding-right:$gutter;
}

@mixin responsive ($counter, $media) {
    @while $counter > 0 {
        // @include responsive( ($counter -1) , $media);
        .col-#{$media}-#{$counter} {
                width: (($counter / 12) * 100%);
        }
    $counter : ($counter - 1 );
    }
} 

@media #{$min-x-small} {
    @include responsive($columns, 'x-small');
}
@media #{$min-small} {
    @include responsive($columns, 'small');
}
@media #{$min-medium} {
    @include responsive($columns, 'medium');
}
@media #{$min-large} {
@include responsive($columns, 'large');
}
@media #{$min-x-small} {
    @include responsive($columns, 'x-large');
}

/* responsive ultilities */

.visible-xsmall {
    display: none;
    @media #{$x-small} {
        display: inherit;
    }
}

.visible-small {
    display: none;
    @media #{$small} {
        display: inherit;
    }
}

.visible-medium {
    display: none;
    @media #{$medium} {
        display: inherit;
    }
}

.visible-large {
    display: none;
    @media #{$large} {
        display: inherit;
    }
}

.visible-xlarge {
    display: none;
    @media #{$min-x-large} {
        display: inherit;
    }
}

.hidden-xsmall-up {
    display: inherit;
    @media #{$min-x-small} {
        display: none;
    }
}

.hidden-small-up {
    display: inherit;
    @media #{$min-small} {
        display: none;
    }
}

.hidden-medium-up {
    display: inherit;
    @media #{$min-medium} {
        display: none;
    }
}

.hidden-large-up {
    display: inherit;
    @media #{$min-large} {
        display: none;
    }
}

.hidden-xlarge-up {
    display: inherit;
    @media #{$min-x-large} {
        display: none;
    }
}

.visible-xsmall-up {
    display:none;
    @media #{$min-x-small} {
        display:inherit;
    }
}

.visible-small-up {
    display: none;
    @media #{$min-small} {
        display: inherit;
    }
}

.visible-medium-up {
    display: none;
    @media #{$min-medium} {
        display: inherit;
    }
}

.visible-large-up {
    display: none;
    @media #{$min-large} {
        display: inherit;
    }
}

.visible-xlarge-up {
    display: none;
    @media #{$min-x-large} {
        display: inherit;
    }
}


