/**
 * @file    type.scss
 * @author  Ariel Saldana / http://ariel.io
 */

h1 {
    font-size: $h1-font-size;
    color : $h1-font-color;
    font-weight: $h1-font-weight;
    margin: $h1-margins;
    text-align: $h1-text-align;

    @media #{$min-x-small} {
        font-size: $h1-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $h1-large-font-size;
    }
}

h2 {
    font-size: $h2-font-size;
    color : $h2-font-color;
    font-weight: $h2-font-weight;
    margin: $h2-margins;
    text-align: $h3-text-align;
    
    @media #{$min-x-small} {
        font-size: $h2-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $h2-large-font-size;
    }
}

h3 {
    font-size: $h3-font-size;
    color : $h3-font-color;
    font-weight: $h3-font-weight;
    margin: $h3-margins;
    text-align: $h3-text-align;
    
    @media #{$min-x-small} {
        font-size: $h3-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $h3-large-font-size;
    }
}

h4 {
    font-size: $h4-font-size;
    color : $h4-font-color;
    font-weight: $h4-font-weight;
    margin: $h4-margins;
    text-align: $h4-text-align;
    
    @media #{$min-x-small} {
        font-size: $h4-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $h4-large-font-size;
    }
}

h5 {
    font-size: $h5-font-size;
    color : $h5-font-color;
    font-weight: $h5-font-weight;
    margin: $h5-margins;
    text-align: $h5-text-align;
    
    @media #{$min-x-small} {
        font-size: $h5-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $h5-large-font-size;
    }
}

p {
    font-size: $text-font-size;
    color : $text-color;
    font-weight: $text-font-weight;
    margin: $text-margins;
    text-align: $text-text-align;
    
    @media #{$min-x-small} {
        font-size: $text-small-font-size;
    }

    @media #{$min-x-large} {
        font-size: $text-large-font-size;
    }
}
