  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{ page.title }}</title>
    
    <meta name="title" content="{{ page.title }}">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} 
    <meta name="keywords" content="ariel,saldana,blog,css,python,PHP,javascript,HTML,CSS,XML,JavaScript">
    <meta name="author" content="Ariel Saldana">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yerariel">
    <meta name="twitter:creator" content="@yerariel">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image:src" content="{{ page.img }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss/">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:300,400,700|Lato:300,400">
    <link rel="stylesheet" href="/css/main.css">

  </head>
